version: '3.8'

services:
  dicoogle-cassandra:
    image: cassandra:4.1
    container_name: ${NODE_NAME:-dicoogle-cassandra}
    # TODO - remove this later
    security_opt:
      - apparmor:unconfined
    # TODO - remove this too
    # privileged: true
    ports:
      - "${CASSANDRA_PORT:-9042}:9042"
      - "7000:7000"
    environment:
      - CASSANDRA_CLUSTER_NAME=DicoogleCluster
      - CASSANDRA_DC=datacenter1
      - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
      - MAX_HEAP_SIZE=1G
      - HEAP_NEWSIZE=200M
      - CASSANDRA_SEEDS=${SEED_IP}     
      - CASSANDRA_BROADCAST_ADDRESS=${MY_IP}
      - CASSANDRA_BROADCAST_RPC_ADDRESS=${MY_IP}
      # - JVM_EXTRA_OPTS=-Dcassandra.replace_address=${MY_IP} -Dcassandra.allow_unsafe_replace=true
    volumes:
      - dicoogle_data:/var/lib/cassandra
    healthcheck:
      test: ["CMD-SHELL", "[ $$(nodetool statusgossip) = running ] || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped

volumes:
  dicoogle_data:
